@use "../../variables.scss";

.connecting-info {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__message {
    color: variables.$blue-900;
    font-size: variables.$font-size-paragraph-1;
    line-height: variables.$line-height-paragraph-1;
    font-weight: variables.$semibold;
  }
}
