@use "../../variables.scss";

.grooming-board-error-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: variables.$space-large;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 10000000;
  min-width: 300px;
  border-radius: variables.$radius-medium;
  text-align: center;
  &.active {
    display: block;
  }
  &__header {
    color: variables.$blue-700;
  }
  &__body {
    margin-top: variables.$space-medium;
    color: variables.$gray-700;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
  }
  &__close-icon {
    color: variables.$gray-500;
    position: absolute;
    right: variables.$space-large;
    top: variables.$space-medium;
    cursor: pointer;
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    &.active {
      display: block;
    }
  }
  &__button {
    margin-top: variables.$space-medium;
    border: none;
    height: 36px;
    cursor: pointer;
    padding: 0 variables.$space-xlarge;
    background-color: variables.$yellow-500;
    color: variables.$blue-900;
    border-radius: variables.$radius-medium;
    font-size: variables.$font-size-paragraph-3;
    line-height: variables.$line-height-paragraph-3;
    font-weight: variables.$medium;
    width: 180px;
  }
  &__button:hover {
    background-color: variables.$yellow-400;
  }
}
