@use "../../variables.scss";

.metric-averages {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: variables.$space-large;
  li {
    border: 1px solid variables.$blue-600;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$medium;
    color: variables.$blue-600;
    border-radius: variables.$space-medium;
    padding: 0 variables.$space-xlarge;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 variables.$space-small;
  }
}
