@use "../../variables";

.nickname-form {
  width: 384px;
  padding: variables.$space-xlarge variables.$space-xlarge;
  max-width: 90%;
  border-radius: variables.$radius-large;
  box-shadow: 0px 20px 24px -4px #10182814;
  background-color: variables.$white;
  margin: auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: variables.$space-xsmall;
    font-family: var(--font-space-grotesk);
    color: variables.$black;
    font-size: variables.$font-size-header-5;
    font-weight: variables.$bold;
    margin-bottom: variables.$space-xlarge;
  }
  &__title {
    color: variables.$title-color;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-header-4;
    font-weight: variables.$semibold;
  }
  &__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__divider {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: variables.$gray-200;
    }
  }

  &__label-enter-room {
    color: #475467;
    font-weight: variables.$light;
    font-size: variables.$font-size-paragraph-3;
    line-height: variables.$line-height-paragraph-3;
    flex-shrink: 0;
    margin: 0 variables.$space-small;
  }
  &__label-select-grooming {
    color: #475467;
    font-weight: 500;
    font-size: variables.$font-size-paragraph-4;
    flex-shrink: 0;
    margin: 0 variables.$space-small;
    line-height: 20px;
  }
  &__input {
    padding: variables.$space-small variables.$space-large;
    margin: variables.$space-base 0;
    border: 1px solid variables.$gray-100;
    border-radius: variables.$radius-small;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$regular;
    width: 100%;
  }
  &__input:focus {
    outline: none;
  }
  &__grooming-options {
    margin-top: variables.$space-xlarge;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: variables.$radius-medium;
    border: 1px solid variables.$gray-300;
    position: relative;

    &.divider::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: variables.$gray-300;
    }
  }
  &__grooming-option {
    border: 1px solid transparent;
    flex: 1;
    background-color: variables.$white;
    padding: 10px variables.$space-large;
    align-items: center;
    justify-content: space-between;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$medium;
    cursor: pointer;
    position: relative;

    p {
      font-weight: variables.$semibold;
    }

    &:hover {
      background-color: #f9fafb;
      transition: all 0.2s ease-in-out;
    }

    &.selected {
      background-color: #7f56d9;

      p {
        color: variables.$white;
      }
    }
  }
  &__grooming-option:hover {
    cursor: pointer;
  }
  &__error-message {
    margin-top: variables.$space-large;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$regular;
    color: variables.$red-700;
  }
  &__button {
    display: inline-block;
    margin-top: variables.$space-base;
    padding: variables.$space-small;
    color: variables.$white;
    background-color: #7656cc;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-paragraph-2;
    font-weight: variables.$medium;
    border-radius: variables.$radius-large;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: var(--font-inter);
  }

  &__info-message {
    margin-top: variables.$space-large;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$semibold;
    color: variables.$gray-800;
  }
  .vercel-info{
    margin-top: 12px;
    background-color: variables.$primary-200;
    border-radius: 8px;
    color: variables.$primary-700;
    font-weight: 600;
    padding: 4px;
    a {
      text-decoration: underline;
    }
  }
}
