@use "../../variables";

.vote-card {
  width: 40px;
  height: 40px;
  display: flex;
  border-color: variables.$gray-300;
  border-width: 1px;
  border-style: solid hidden solid solid;
  align-items: center;
  background-color: variables.$white;
  justify-content: center;
  cursor: pointer;

  &:first-child{
    border-radius: variables.$radius-large 0px 0px variables.$radius-large;
    &:hover {
      background-color: variables.$dark-orange-300;
    }
    &.selected {
      background: variables.$dark-orange-400;
    }
  }    

  &:nth-child(2){
    &:hover {
      background: variables.$dark-orange-200;
    }
    &.selected {
      background: variables.$dark-orange-300;
    }
  }

  &:nth-child(3){
    &:hover {
      background: variables.$yellow-100-v2;
    }
    &.selected {
      background: variables.$yellow-200-v2;
    }
  }

  &:nth-child(4){
    &:hover {
      background: variables.$green-light-50;
    }
    &.selected {
      background: variables.$green-light-100;
    }
  }
  &:nth-child(5){
    &:hover {
      background: variables.$green-light-100;
    }
    &.selected {
      background: variables.$green-light-200;
    }
  }

  
  &:nth-child(6){
    &:hover {
      background: variables.$dark-orange-400;
    }
    &.selected {
      background: variables.$dark-orange-500;
    }
  }

  &:nth-child(7){
    &:hover {
      background: variables.$dark-orange-500;
    }
    &.selected {
      background: variables.$dark-orange-600;
    }
  }

  &:last-child{
    &:hover {
      background: variables.$light-blue-100;
    }
    border-right-style: solid;
    border-radius: 0px variables.$radius-large variables.$radius-large 0px;
    &.selected {
      background: variables.$light-blue-200;
    }
  }

  &.story-point-card {
    &:hover{
      background-color: #F2F4F7;
    }
    &.selected {
      background: #D0D5DD;
    }
  }

  .vote-point-text {
    font-size: variables.$font-size-paragraph-4;
    font-weight: variables.$semibold;
    color: variables.$gray-700;
    line-height: 20px;
  }
}
