@use "../../variables.scss";

.voting-stick {
  display: flex;
  align-items: center;
  gap: 0 variables.$space-xlarge;
  margin-bottom:variables.$space-xlarge;

  &__vote-cards {
    display: flex;
    align-items: center;
    border-radius: variables.$radius-large;
    box-shadow: 0px 1px 2px 0px #1018280D;
  }
  &__label {
    color: variables.$gray-900-v2;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$semibold;
    width: 187px;
  }
}
