@use "../../variables";

.voting-stick-v2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: variables.$space-xlarge;
  gap: 12px;
  flex-wrap: wrap;
  @media (max-width: 850px) {
    width: 100%;
  }

  &__vote-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: variables.$radius-large;
    width: 100%;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  &__label {
    color: variables.$gray-900-v2;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-paragraph-4;
    font-weight: variables.$semibold;
    width: 187px;
  }
}
