.voting-stick-v2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $space-xlarge;
  gap: 12px;
  flex-wrap: wrap;
  @media (max-width: 850px) {
    width: 100%;
  }

  &__vote-cards {
    display: flex;
    align-items: center;
    border-radius: $radius-large;
    gap: 8px;
    width: 100%;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  &__label {
    color: $gray-900-v2;
    font-size: $font-size-paragraph-2;
    line-height: $line-height-paragraph-4;
    font-weight: $semibold;
    width: 187px;
  }
}
