.change-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    & > h4 {
      font-family: var(--font-space-grotesk);
      font-weight: $bold;
      font-size: $font-size-header-5;
      line-height: $line-height-paragraph-4;
    }
  }
  & > h5 {
    color: $gray-600;
    font-size: $font-size-paragraph-4;
    line-height: $line-height-header-5;
    font-weight: $regular;
    padding-top: 16px;
    padding-bottom: 20px;
  }

  & > label {
    width: 100%;
    padding-bottom: 16px;
    & > input {
      width: 100%;
      padding: 10px 14px;
      border: 1px solid $gray-300;
      border-radius: $radius-large;
    }
  }
  & > button {
    font-family: var(--font-inter);
    width: 100%;
    background: $primary-600;
    color: white;
    font-weight: $semibold;
    font-size: $font-size-paragraph-3;
    line-height: $line-height-paragraph-4;
    padding: 10px 18px;
    border: 1px solid $primary-600;
    border-radius: $radius-large;
    margin-bottom: 32px;
    cursor: pointer;
  }
}
