.grooming-board-profile {
  background: $blue-400;
  border-radius: $radius-medium;
  display: flex;
  align-items: center;
  color: $gray-100;
  padding: $space-small $space-medium;
  justify-content: space-between;
  gap: 0 $space-medium;
  border: none;
  font-size: $font-size-paragraph-3;
  line-height: $line-height-paragraph-3;
  &__bar {
    top: 64px;
    right: $space-xxxlarge;
    position: absolute;
    background: $gray-800;
    min-width: 240px;
    border-radius: $radius-medium;
    padding: $space-large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
  }
  &__nickname-label {
    font-size: $font-size-paragraph-5;
    line-height: $line-height-paragraph-5;
    color: $gray-100;
  }
  &__nickname-input {
    padding: $space-xsmall $space-medium;
    font-size: $font-size-paragraph-5;
    line-height: $line-height-paragraph-5;
    color: $gray-800;
    margin: $space-xsmall 0;
    border: 1px solid $gray-400;
    border-radius: $radius-small;
  }
  &__nickname-input:focus {
    outline: none;
  }
  &__update-nickname-button {
    padding: $space-xsmall $space-medium;
    font-size: $font-size-paragraph-5;
    line-height: $line-height-paragraph-5;
    background-color: $gray-300;
    border: none;
    border-radius: $radius-small;
  }
  &__update-nickname-button:hover {
    background-color: $gray-200;
    cursor: pointer;
  }
}
.grooming-board-profile:hover {
  background: $blue-300;
  cursor: pointer;
}
