.grooming-board-participants {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 80%;
  li {
    width: 100%;
    border-top: 1px solid $gray-100;
    border-radius: $radius-small;
    gap: 16px;
    display: flex;
    align-items: center;
    label {
      font-size: $font-size-paragraph-4;
      line-height: $line-height-paragraph-4;
      font-weight: $regular;
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__nickname-container {
    display: flex;
    min-width: 140px;
    padding: 10px 14px;
    align-items: center;
    gap: 0 $space-medium;
  }
  &__nickname {
    &.connection-lost {
      color: red;
    }
    &.additional-space {
      margin-left: 26px;
    }
  }
  &__icon-plug {
    color: red;
  }
  &__icon-crown {
    color: $yellow-500;
  }
  &__point-cards-container {
    display: flex;
    gap: 0 $space-large;
    width: 100%;
    justify-content: space-around;
  }
  &__point-card {
    border-radius: 50%;
    font-size: $font-size-paragraph-4;
    line-height: $line-height-paragraph-4;
    font-weight: $regular;
    text-align: right;
    width: 20px;
    height: 20px;
    display: flex;
    background: $white;
    border: 1px solid $gray-100;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__metric-voted {
     background-color: #85E13A;
     border: 1px solid #4CA30D;
  }
  &__all-metrics-voted {
     background-color: $primary-600;
     border: 1px solid $primary-600;
     width: 20px;
     height: 20px;

  }
  &__check-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
  }
}

.grooming-board-participants__point-card.show {
  display: none;
}
