.room-not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $space-large 0;

  &__header {
    color: $blue-900;
    font-size: $font-size-header-3;
    line-height: $line-height-header-3;
    font-weight: $semibold;
  }

  &__link {
    padding: $space-small;
    color: $blue-900;
    background-color: $yellow-500;
    font-size: $font-size-paragraph-2;
    line-height: $line-height-paragraph-2;
    font-weight: $medium;
    border-radius: $radius-small;
  }
  &__link:hover {
    background-color: $yellow-400;
  }
}
