@use "../variables";

.room-not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: variables.$space-large 0;

  &__header {
    color: variables.$blue-900;
    font-size: variables.$font-size-header-3;
    line-height: variables.$line-height-header-3;
    font-weight: variables.$semibold;
  }

  &__link {
    padding: variables.$space-small;
    color: variables.$blue-900;
    background-color: variables.$yellow-500;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-paragraph-2;
    font-weight: variables.$medium;
    border-radius: variables.$radius-small;
  }
  &__link:hover {
    background-color: variables.$yellow-400;
  }
}
