@import "intro.js/introjs.css";
@import "../variables.scss";
@import "../mixins.scss";

@import "./grooming-navbar/grooming-navbar.scss";
@import "./grooming-navbar/grooming-board-profile.scss";
@import "./grooming-navbar/change-name.scss";
@import "./grooming-navbar/change-avatar.scss";
@import "./grooming-navbar/leave-room.scss";
@import "./grooming-navbar/timer.scss";
@import "./grooming-navbar/import-jira-issues.scss";
@import "./grooming-navbar/announcement-tooltip.scss";
@import "./grooming-navbar/p-sync-modal-content.scss";
@import "./grooming-board/vote-card.scss";
@import "./grooming-board/vote-card-v2.scss";
@import "./grooming-board/voting-stick.scss";
@import "./grooming-board/voting-stick-v2.scss";
@import "./grooming-board/nickname-form.scss";
@import "./grooming-board/grooming-board.scss";
@import "./grooming-board/issue-summary.scss";
@import "./grooming-board/connecting-info.scss";
@import "./grooming-board/metric-averages.scss";
@import "./grooming-board/grooming-board-participants.scss";
@import "./grooming-board/grooming-board-error-popup.scss";
@import "./grooming-board/grooming-board-jira-table.scss";
@import "./grooming-board/filterable-select.scss";
@import "./grooming-board/grooming-board-result.scss";
@import "./grooming-board/grooming-board-resultv2.scss";
@import "./grooming-board/metricToggleTooltip.scss";
@import "./grooming-board/grooming-board-live-chart.scss";
@import "./grooming-board/gurubu-ai/gurubu-ai-participant.scss";
@import "./grooming-board/gurubu-ai/gurubu-ai-tooltip.scss";
@import "./grooming-footer/grooming-footer.scss";
@import "./grooming-footer/feedback.scss";
@import "./jira-sidebar/jira-sidebar.scss";
@import "./themes/theme.scss";
@import "./not-found.scss";
@import "./loading.scss";

@media (max-width: 850px) {
  .introjsFloatingElement,
  .introjs-overlay,
  .introjs-helperLayer,
  .introjs-tooltipReferenceLayer,
  .introjs-disableInteraction {
    display: none;
  }
}

.introjs-tooltip,
.introjs-tooltipReferenceLayer * {
  font-family: "Inter", sans-serif;
}

.introjs-tooltipReferenceLayer{
 z-index: 9999998;
}

.introjs-tooltip-title {
  color: $primary-700;
}

.introjs-tooltiptext {
  color: #333333;
}

.introjs-tooltipbuttons {
  a {
    background-color: #f9f5ff;
    color: #6941c6;
    border: 1px solid #6941c6;
    &:hover {
      background-color: #f9f5ff;
      border: 1px solid #6941c6;
      color: #6941c6;
    }
    &:focus {
      background-color: #f9f5ff;
      border: 1px solid #6941c6;
      color: #6941c6;
      box-shadow: none;
    }

    &.introjs-disabled {
      display: none;
    }
  }
}

.create-room {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: $body-color;
}

.grooming-room {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  --text-color: var(--gray-700);
  --secondary-text-color: var(--gray-600);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  min-height: 100vh;
  &.nickname-form-active {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: $body-color;
  }
}

.toaster {
  display: flex;
  align-items: center;
  .toaster-title {
    color: $primary-700;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .toaster-description {
    color: $gray-500;
    font-size: 14px;
    line-height: 18px;
  }
  .toaster-close {
    background: none;
    border: none;
    cursor: pointer;
  }
}
