@import "../variables.scss";
@import "../mixins.scss";

@import "./grooming-navbar/grooming-navbar.scss";
@import "./grooming-navbar/grooming-board-profile.scss";
@import "./grooming-navbar/change-name.scss";
@import "./grooming-navbar/leave-room.scss";
@import "./grooming-navbar/timer.scss";
@import "./grooming-navbar/import-jira-issues.scss";
@import "./grooming-board/vote-card.scss";
@import "./grooming-board/voting-stick.scss";
@import "./grooming-board/nickname-form.scss";
@import "./grooming-board/grooming-board.scss";
@import "./grooming-board/connecting-info.scss";
@import "./grooming-board/metric-averages.scss";
@import "./grooming-board/grooming-board-participants.scss";
@import "./grooming-board/grooming-board-error-popup.scss";
@import "./grooming-board/grooming-board-jira-table.scss";
@import "./grooming-board/grooming-board-result.scss";
@import "./grooming-board/grooming-board-resultv2.scss";
@import "./grooming-board/metricToggleTooltip.scss";
@import "./grooming-footer/grooming-footer.scss";
@import "./grooming-footer/feedback.scss";
@import "./themes/theme.scss";
@import "./not-found.scss";

.create-room {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: $body-color;
}

.grooming-room {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  --text-color: var(--gray-700);
  --secondary-text-color: var(--gray-600);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  min-height: 100vh;
  &.nickname-form-active {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: $body-color;
  }
}

.fast-join-toaster{
  display: flex;
  align-items: center;
  .fast-join-toaster-title{
    color: $primary-700;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .fast-join-toaster-description{
    color: $gray-500;
    font-size: 14px;
    line-height: 18px;
  }
  .fast-join-toaster-close{
    background: none;
    border: none;
    cursor: pointer;
  }
}