.voting-stick {
  display: flex;
  align-items: center;
  gap: 0 $space-xlarge;
  margin-bottom: $space-xlarge;

  &__vote-cards {
    display: flex;
    align-items: center;
    border-radius: $radius-large;
    box-shadow: 0px 1px 2px 0px #1018280D;
  }
  &__label {
    color: $gray-900-v2;
    font-size: $font-size-paragraph-2;
    line-height: $line-height-paragraph-4;
    font-weight: $semibold;
    width: 187px;
  }
}
