.select-team-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__actions {
    display: flex;
    gap: 8px;
    width: 100%;

    button {
      font-family: var(--font-inter);
      width: 100%;
      background: $primary-600;
      color: white;
      font-weight: $semibold;
      font-size: $font-size-paragraph-3;
      line-height: $line-height-paragraph-4;
      padding: 6px 0;
      border: 1px solid $primary-600;
      border-radius: $radius-large;
      cursor: pointer;

      &:hover{
        background-color: $purple-500;
      }

      &:nth-child(2){
        background-color: $white;
        border: 1px solid #cdd1d4;
        color: $gray-700;
        &:hover {
          background-color: $off-white;
        }
      }
    }
  }
}
