.greeting-box {
  margin-top: $space-xxlarge;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $space-small 0;
  padding: 0 $space-large;

  @include media(xl){
    padding: 0;
  }
  &__title {
    color: $blue-900;
    font-size: $font-size-header-4;
    line-height: $line-height-header-4;
    font-weight: $black;

    @include media(xl){
      font-size: $font-size-header-2;
      line-height: $line-height-header-2;
    }
  }
  &__description {
    color: $blue-500;
    font-size: $font-size-paragraph-4;
    line-height: $line-height-paragraph-4;
    font-weight: $regular;
    padding: 0 $space-large;

    @include media(xl){
      font-size: $font-size-paragraph-2;
      line-height: $line-height-paragraph-2;
      padding: 0;
    }
  }
  &__button {
    margin-top: $space-xxxlarge;
    padding: $space-small;
    color: $blue-900;
    background-color: $yellow-500;
    font-size: $font-size-paragraph-1;
    line-height: $line-height-paragraph-1;
    font-weight: $medium;
    border-radius: $radius-small;
  }
  &__button:hover {
    background-color: $yellow-400;
  }
}
