.hero-section {
  margin-left: 5.55555555%;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  h1 {
    font-size: $font-size-header-1;
    font-weight: $semibold;
    line-height: $line-height-header-1;
    color: $gray-900;
    margin-bottom: $space-xlarge;
    max-width: 36rem;
  }
  p {
    color: $gray-600;
    font-size: 1.25rem;
    line-height: $line-height-paragraph-2;
    margin-bottom: 6.125rem;
    max-width: 30rem;
  }
  &__demo-preview {
    width: 100%;
    height: 100%;
    max-width: 43.25rem;
    max-height: 32.5rem;
    border: 4px solid $gray-900;
    border-right: 0;
    border-radius: 0.625rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 768px) {
  .hero-section {
    @include container;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    h1 {
      font-size: $font-size-header-2;
      line-height: $line-height-header-2;
      margin-bottom: $space-medium;
      max-width: 100%;
    }
    p {
      font-size: 1rem;
      line-height: $line-height-paragraph-3;
      margin-bottom: $space-xxlarge;
      max-width: 100%;
    }

    & a {
      width: 100%;
    }

    &__demo-preview {
      border: 1px solid $gray-900;
      border-radius: $radius-small;
    }
  }
}
