@import "../variables.scss";
@import "../mixins.scss";

.blue-card {
  background-color: $purple-50;
  
  .project-card__button {
    background-color: $blue-500;
    
    &:hover {
      background-color: $blue-600;
    }
  }
}

.icon-container.blue {
  background-color: $blue-500;
}

.orange-card {
  background-color: $orange-light;
  
  .project-card__button {
    background-color: $dark-orange-500;
    
    &:hover {
      background-color: $dark-orange-600;
    }
  }
}

.icon-container.orange {
  background-color: $dark-orange-500;
} 