@use "../variables.scss";
@use "../mixins.scss";

// Sections
@use "hero-section.scss";
@use "testimonial.scss";
@use "pricing.scss";
@use "features.scss";

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
