@import "../variables.scss";
@import "../mixins.scss";

@import "./greeting.scss";
@import "./howto.scss";
@import "./testimonial.scss";

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
