@use "../mixins";
@use "../variables";

.testimonial-section {
  width: 100%;
  margin: variables.$space-xxxxlarge 0;
  padding: 0 variables.$space-xxlarge;

  .testimonial {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: variables.$space-xxlarge 0;
    margin: 0 auto;

    &__avatar {
      object-fit: cover;
      border-radius: 50%;
      border: 0.75px solid #E0E0E0;
    }

    &__text {
      font-size: variables.$font-size-body-2;
      font-weight: variables.$medium;
      line-height: variables.$line-height-header-3;
      text-align: center;

      @include mixins.media(xl) {
        font-size: variables.$font-size-body-1;
        line-height: variables.$line-height-header-2;
      }
    }

    &__owner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__name {
        margin: variables.$space-large 0 variables.$space-xsmall 0;
        font-size: variables.$font-size-paragraph-2;
        font-weight: variables.$semibold;
      }

      &__title {
        color: #475467;
        line-height: variables.$line-height-paragraph-4;
      }
    }
  }
}
