.timer-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 4px;
  &.is-locale-time-left{
    .timer-trigger {
      padding: 0 $space-semi-medium;
      background-color: #f9f5ff;
    }
  }
}

.timer-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  border: none;
  border-radius: $radius-large;
  color: #6941c6;
  cursor: pointer;
  font-size: $font-size-paragraph-4;
  transition: all 0.2s;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  background: none;
}

.timer-dropdown {
  position: absolute;
  top: 36px;
  right: 0;
  background: $white;
  width: 120px;
  border: 1px solid #E6E6E6;
  border-radius: $radius-large;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 90;
  box-shadow: $shadow-sm;
}

.timer-options {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
}

.timer-option {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(50% - 2px);
  padding: 8px 12px;
  border: none;
  border-radius: $radius-medium;
  background: transparent;
  color: $gray-600;
  font-weight: $medium;
  font-size: $font-size-paragraph-4;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  justify-content: center;

  &:hover {
    background-color: #f9f5ff;
    color: #6941c6;
  }
}

.timer-controls {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-top: 1px solid #E6E6E6;
  margin-top: 4px;
}

.timer-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 2px);
  height: 30px;
  border: none;
  border-radius: $radius-medium;
  background-color: #f9f5ff;
  color: #6941c6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover:not(.disabled) {
    background-color: #f9f5ff;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #F5F5F5;
    color: #999;
  }
}