@import "./variables.scss";
@import "./mixins.scss";
@import "./common/style.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $body-color;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
