@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import "./variables.scss";
@import "./mixins.scss";
@import "./common/style.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $body-color;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
