@import "./variables.scss";
@import "./mixins.scss";
@import "./common/style.scss";
@import "./voting-window/style.scss";

:root {
  --text-primary: #{$gray-900};
  --text-secondary: #{$gray-600};
  --card-background: #{$white};
  --input-background: #{$white};
  --border-color: #{$gray-300};
  --primary-color: #{$primary-700};
  --primary-hover: #{$primary-600};
  --secondary-color: #{$blue-600};
  --secondary-hover: #{$blue-500};
  --cancel-color: #{$gray-100};
  --cancel-hover: #{$gray-200};
  --hover-background: #{$gray-50};
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding: $scroll-padding;
}

body {
  &.jira-padding-right{
    $animation-duration: 0.3s;
    $easing: ease;
    transition: padding-right $animation-duration $easing;
    padding-right: 86px;
    @media (max-width: 850px) {
      padding-right: 0;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
