@use "sass:map";
@use "variables";

@mixin media($breakpoint) {
  @if map.has-key(variables.$breakpoints, $breakpoint) {
    @media (min-width: map.get(variables.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$breakpoint} is not defined in $breakpoints map.";
  }
}

@mixin container {
  max-width: variables.$max-width;
  margin: 0 auto;
  padding: variables.$space-xxxxlarge variables.$space-xxlarge;
}
