// responsive breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// colors
$white: #ffffff;
$body-color: $white;
$voting-card-color: linear-gradient(
  180deg,
  #fafbff 0%,
  #eff1f9 58.61%,
  #e9ecf6 82.31%,
  #ced3e8 101.29%
);

$title-color: #101828;

$blue-900: #091133;
$blue-800: #111b47;
$blue-700: #222f65;
$blue-600: #37447e;
$blue-500: #505f98;
$blue-400: #6f7cb2;
$blue-300: #929ecc;
$blue-200: #bac3e5;
$blue-100: #e7ecff;


$gray-900: #141719;
$gray-800: #393e41;
$gray-700: #454e54;
$gray-600: #5d6970;
$gray-500: #76848c;
$gray-400: #939ea4;
$gray-300: #b0b8bc;
$gray-200: #cdd1d4;
$gray-100: #e9ebec;
$gray-50: #fbfbfd;

$yellow-500: #ffd166;
$yellow-400: #fedc8c;
$yellow-300: #fde7b3;
$yellow-200: #fff2d2;
$yellow-100: #fff6e0;

$red-700: #dc2626;



// font size
$font-size-header-1: 50px;
$font-size-header-2: 42px;
$font-size-header-3: 26px;

$font-size-body-1: 48px;
$font-size-body-2: 36px;
$font-size-body-3: 28px;

$font-size-paragraph-1: 22px;
$font-size-paragraph-2: 18px;
$font-size-paragraph-3: 16px;
$font-size-paragraph-4: 14px;
$font-size-paragraph-5: 12px;

// line height
$line-height-header-1: 66px;
$line-height-header-2: 60px;
$line-height-header-3: 38px;

$line-height-body-1: 48px;
$line-height-body-2: 38px;

$line-height-paragraph-1: 32px;
$line-height-paragraph-2: 30px;
$line-height-paragraph-3: 26px;
$line-height-paragraph-4: 24px;
$line-height-paragraph-5: 18px;

// font weight
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// space

$space-xsmall: 4px;
$space-small: 8px;
$space-medium: 12px;
$space-large: 16px;
$space-base: 20px;
$space-xlarge: 24px;
$space-xxlarge: 32px;
$space-xxxlarge: 48px;
$space-xxxxlarge: 96px;

// radius

$radius-xsmall: 2px;
$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 8px;
$radius-xlarge: 12px;
$radius-xxlarge: 16px;
$radius-xxxlarge: 24px;

