@use "../../variables.scss";

.grooming-footer {
  width: 100%;
  margin: auto auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaecf0;
  position: relative;
  &__content {
    padding: 12px 48px 12px 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: variables.$font-size-paragraph-4;
    line-height: variables.$line-height-paragraph-5;
    color: variables.$gray-500;
    justify-content: center;
    width: 80%;
    @media (max-width: 850px) {
      padding: 12px 0;
    }
    &-socials-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      border-left: 1px solid variables.$gray-100;
      padding-left: 12px;
      text-decoration: underline;
      @media (max-width: 850px) {
        display: none;
      }
    }
  }
}
