@use "../variables";

.cta {
  border-radius: variables.$radius-large;
  padding: variables.$space-large 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: variables.$semibold;
  font-size: variables.$font-size-paragraph-2;
  line-height: 1.75rem;
  gap: variables.$space-small;

  &.primary {
    background-color: variables.$white;
    color: variables.$gray-700;
    border: 1px solid variables.$gray-300;
  }

  &.secondary {
    background-color: variables.$purple-700;
    color: variables.$white;
    font-size: variables.$font-size-paragraph-3;
    font-weight: variables.$semibold;
    line-height: variables.$line-height-paragraph-4;
    border: 1px solid variables.$purple-700;
  }
}
