@use "../mixins";
@use "../variables";

.footer {
  margin: auto auto 0;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding: 8px 32px 18px;
  @include mixins.media(md) {
    padding: 16px 32px 18px;
    flex-direction: column;
  }
  @media (min-width: 1280px) {
    padding: 16px 0 18px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    @include mixins.media(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__links {
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: center;
      @include mixins.media(md) {
        flex-direction: row;
        gap: 32px;
      }
      & > a {
        line-height: variables.$line-height-paragraph-4;
        color: variables.$gray-600;
        font-weight: variables.$semibold;
      }
    }
    &__copyright {
      line-height: variables.$line-height-paragraph-4;
      color: variables.$gray-500;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: var(--font-family-grotest);
    font-weight: variables.$bold;
    font-size: variables.$font-size-paragraph-2;
    line-height: variables.$line-height-paragraph-4;
    padding-top: 21px;
  }
}
