.footer {
  padding: $space-small;
  background-color: $blue-100;
  width: 100%;
  margin-top: auto;
  &__copyright-text {
    color: $gray-400;
    font-size: $font-size-paragraph-4;
    line-height: $line-height-paragraph-4;
    font-weight: $medium;
  }
}
