@use "../variables";

.logo {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-right: 4rem;
  font-weight: variables.$bold;
  font-size: variables.$font-size-paragraph-2;
  line-height: variables.$line-height-paragraph-4;

  & span {
    user-select: none;
  }
}
