.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  &.open {
    display: flex;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  .modal-content {
    background: #fff;
    padding: 24px;
    border-radius: $radius-xlarge;
    position: relative;
    z-index: 1;
    width: 400px;
    box-shadow: 0px 20px 24px -4px #10182814;

    & .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
