.nav {
  font-family: "Gochi Hand", cursive;
  padding: $space-medium $space-xxxlarge;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    color: $blue-600;
    font-size: $font-size-paragraph-1;
    line-height: $line-height-paragraph-1;
    font-weight: $black;
    @include media(xl) {
      font-size: $font-size-body-1;
      line-height: $line-height-body-1;
    }
  }
}
